* {
    padding: 0;
    margin: 0;
    font-family: 'Mukta', sans-serif !important;
    scroll-behavior: smooth
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    font-size: 5.5rem;
}

h2 {
    font-size: 3.5rem;
}

.mw-95 {
    max-width: 95% !important;
}

.btn-primary {
    background-color: darkgreen !important;
}

.navbar {
    background-color: #0f2232;
    overflow: hidden;
    height: 10vh;
    box-shadow: 0 0 50px gray;
}

.navbar-brand {
    padding-left: 30px;
}

.navbar-toggler {
    background: #8d887a;
    z-index: 100;
    min-width: 5vh;
    height: 5vh;
    margin: 0 40px;
    border: 0;
}

.bi, .bi-list {
    color: #fff;
}

#heroImg {
    position: absolute;
    z-index: -1;
}

.header-title {
    position: absolute;
    color: white;
    -webkit-text-stroke: 2px black;
    font-size: 4em;
    font-weight: bold;
    top: 500px;
}

#intro {
    margin-top: 560px;
}

#introDesc {
    text-align: center;
}

.intro-number {
    font-size: 5em;
    font-weight: bold;
    color: #8d887a;
}

.intro-title {
    font-size: 3.5em;
    font-weight: bold;
    color: #0f2232;
}

.intro-desc {
    font-size: 2.5rem;
}

.icon-check {

}

.text-check {
    font-size: 3rem;
}

.table-fs {
    font-size: 2.5rem;
}

.table-green {
    color: green;
}

.table-red {
    color: red;
}

#green-bubble {
    background-color: #efe;
    color: green;
    border-radius: 10px;
    font-size: 3rem;
    width: 90%;
    margin: 20px auto 0 auto;
}

#green-bubble p {
    padding: 20px;
}

#RD p {
    font-size: 3rem;
}

#faq {
    background-color: #fcfaf6;
    height: 800px;
}


footer {
    background-color: #0f2232;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}