* {
    padding: 0;
    margin: 0;
    font-family: 'Mukta', sans-serif !important;
    scroll-behavior: smooth
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 5.5rem;
}

h2 {
    font-size: 3.5rem;
}

#logo {
    width: 200px;
    height: auto;
}

.primary {
    color: #0f2232
}

.mw-95 {
    max-width: 95% !important;
}

.btn-primary {
    background-color: darkgreen !important;
    border: 0 !important;
}

.navbar {
    background-color: #0f2232;
    height: 100px;
    box-shadow: 0 0 50px gray;
}

.navbar-toggler {
    background: #8d887a;
    z-index: 100;
    min-width: 5vh;
    height: 5vh;
    margin-right: 20px;
    border: 0;
}

#dropdown ul li a {
    font-size: 20px;
}

#dropdownButton {
    display: flex;
    margin: 0;
}

@media screen and (max-width: 320px) {
    #dropdownButton {
        margin: 0;
    }
}

#navbarDesktop {
    display: none !important;
}

.bi, .bi-list {
    color: #fff;
}

#heroImg {
    z-index: -1;
}

#welcomeDesktop {
    display: none;
}

.header-title {
    text-align: center;
    width: 90%;
    margin: auto;
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 2em;
    font-weight: bold;
}

#intro {
    display: flex !important;
}

#introDesc {
    text-align: center;
}

#introDesktop {
    display: none;
}

.intro-number {
    font-size: 2.5em;
    font-weight: bold;
    color: #8d887a;
}

.intro-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #0f2232;
}

.intro-desc {
    font-size: 1rem;
}

.icon-check {
    margin: auto;
}

#investButton {
    width: 70%;
    box-shadow: 5px 5px gray;
    font-size: 18px;
}

#versus svg {
    margin: 0 auto;
}

.text-check {
    font-size: 1.5rem;
}

.table-fs {
    font-size: 18px;
}

.table-green {
    color: green;
}

.table-red {
    color: red;
}

#green-bubble {
    background-color: #efe;
    border-radius: 10px;
    font-size: 18px;
    width: 90%;
    margin: 20px auto 0 auto;
    border: 0 !important;
}

#green-bubble p {
    padding: 20px;
    color: green !important;
}

#RD h1 {
    font-size: 30px;
    font-weight: bold;
}

#RD h2 {
    font-size: 24px;
    font-weight: bold;
}

#RD h3 {
    font-size: 20px;
}

#RD h4 {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
}

#RD p {
    font-size: 18px;
}

#thankyouImg {
    border-radius: 10px !important;
    width: 90%;
    margin: 20px auto;
    height: auto;
}

#faq {
    background-color: #fcfaf6;
    margin-bottom: 20px;
}

#faq p {
    font-size: 18px;
}

#faq span {
    font-size: 18px;
}

#contact {
    background-color: #0f2232 !important;
}

#contact h2 {
    font-size: 28px;
    font-weight: bold;
}

#contact a {
    font-size: 22px;
    text-decoration: none;
}

#contact p {
    font-size: 20px;
}

footer {
    background-color: #0f2232;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    #dropdownButton {
        display: none;
    }

    .navbar-brand {
        padding-left: 30px;
    }

    #navbarDesktop {
        display: flex !important;
    }

    #heroImg {
        width: 0;
    }

    .header-title {
        display: none;
    }

    #welcomeDesktop {
        display: block;
    }

    #graf {
        width: 80%;
        margin: auto;
    }

    #investButton {
        width: 60%;
        box-shadow: 5px 5px gray;
        font-size: 18px;
    }
}

@media screen and (min-width: 1024px) {
    #intro {
        display: none !important;
    }

    #introDesktop {
        display: block !important;
    }

    #graf {
        width: 50%;
    }

    #investButton {
        width: 50%;
        box-shadow: 5px 5px gray;
        font-size: 18px;
    }

    #thankyouImg {
        width: 50% !important;
        height: auto;
        margin: 0 0 20px;
    }

    #thankyouTitle {
        font-size: 30px !important;
    }

    #accordion-collapse {
        max-width: 75% !important;
        margin: auto;
    }

    #contact {

    }
}